/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   My Styles
   ========================================================================== */

.header {
	background-image: url(../Images/aboutusheader.jpg);
	background: #222126;
}
.adobelogo {
	margin-left: 238px;
	display:inline;
}
.navigationbar{
	margin-right:188px;
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
}
a{
	margin-top:40px;
}
h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;	
}
h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
}
p {
	font-family:'Open Sans', sans-serif;
	font-style:normal;
	color:white;
	margin-top:0px;
}
.backgroundimage {
	background-image: url(../../assets/main.png);
	min-height:586px;
	min-width: 990px;
	background-repeat: no-repeat;
	background-position:center;
}
.container-body {
	float:right;
	max-width:564px;
	max-height:398px;
	background-color:rgba(58,58,58,0.47);
	padding:20px;
	margin-top: 100px;
	display:inline-block;
}
.container-body2 {
	background-color: #222126;
	min-height:586px;
	max-width: 990px;
	display:inline-block;
	padding-left:8em;
	padding-right:8em;
	padding-top:40px;
}
.container-body3 {
	background-color: #757576;
	height:20em;
	text-align:center;
	padding-left:140px;
	padding-right:140px;
}
.container-body4 {
	background-color:#222126;
	height:30em;
	text-align:center;
	display:inline-block;
	min-width:990px;
}
.rowclearfix:after {
	clear:both;
}
.rowclearfix, rowclearfix:after {
	content:"";
	display:table;
}
.section-column {
	float:right;
	max-width:231px;
	max-height:312px;
	margin-left:20px;
}
.section-column2 {
	float:left;
	margin-top:40px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
}
.section-column3 {
	float:left;
	margin-top:40px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
}